.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    position: sticky;
    top:0;
    background-color: white;
}

.header__logo{
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    position: relative;
    display: flex;
    width: 40%;
    border:1px solid black;
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}

.header__icons{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 10px;
}

input{
    flex-grow: 1;
    width: 300px; 
    border:none;
    padding:10px;
}
input:focus{
    outline: none;
}
.header__input_button{
  width: 50px!important;
  background-color: #fafafa;
  padding:5px;
  border-left:1px solid lightgray;
  color: grey;


}

.search_icon{
    position: absolute;
  right: 0;
}